.consulting-statistic-container {
    padding: 20px;
    background: #2E3B4E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff; 
    margin-bottom: 20px;
    width: 100%; 
}

.chart-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.apexcharts-canvas {
    background: transparent linear-gradient(62deg, #00BFFF 0%, #FF6347 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;
    border-radius: 8px;
}

.apexcharts-tooltip {
    background: rgba(255, 255, 255, 0.8);
    color: #2E3B4E;
    border: 1px solid #00BFFF;
    border-radius: 8px;
    font-weight: bold;
    text-shadow: none;
}

.apexcharts-tooltip-series-group {
    color: #2E3B4E !important;
}

.apexcharts-xaxis-label, .apexcharts-yaxis-label {
    color: #ffffff !important;
}

.apexcharts-legend-text {
    color: #ffffff !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
    background: #00BFFF;
    color: #ffffff;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.apexcharts-tooltip .apexcharts-tooltip-text {
    color: #2E3B4E;
    padding: 10px;
}
