.linechart h5 {
  font-weight: 700;
  margin: 0px;
}
.linechart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 60px;
}

.ant-typography.lastweek {
  color: #8c8c8c;
  font-weight: 600;
}

.sales ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.sales ul li:first-child .icon-requests {
  color: #FF5733; 
}

.sales ul li:last-child .icon-results {
  color: #1A73E8; 
}

.sales ul li {
  color: #8c8c8c;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.bnb2 {
  color: #52c41a;
  font-weight: 700;
}

.full-width {
  max-width: 100% !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
